/*split ref code and title*/
/*
.media-delimiter::after {
    content: "\A";
    white-space: pre;
}
*/
@media screen and (min-width: 650px) {
  .altmetric-badge {
    position: absolute;
    top: 0;
    right: 0;
  }
}
