.collection-element prm-search-result-thumbnail-container img[src*="icon"] {
    display:none;
}

prm-search-result-thumbnail-container{
  background: #c99c9c;
  /*background-image:  url('/custom/FARO/img/library-logo.png') ;*/
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  background-position: center;
  min-height: 100px;
  min-width:65px;
}

prm-gallery-item:nth-of-type(2n) prm-search-result-thumbnail-container {background: #c9ba9c;}
prm-gallery-item:nth-of-type(3n) prm-search-result-thumbnail-container {background: #bac99c;}
prm-gallery-item:nth-of-type(4n) prm-search-result-thumbnail-container {background: #9cc99c;}
prm-gallery-item:nth-of-type(5n) prm-search-result-thumbnail-container {background: #9cc9ba;}
prm-gallery-item:nth-of-type(6n) prm-search-result-thumbnail-container {background: #9cbac9;}
prm-gallery-item:nth-of-type(7n) prm-search-result-thumbnail-container {background: #9c9cc9;}

.collection-element prm-search-result-thumbnail-container img[src*="isbn"] {

}
