
prm-action-list div#scrollActionList {
    align-items: baseline;
}



prm-action-list div#scrollActionList li.md-nav-item {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

prm-action-list div#scrollActionList li.md-nav-item > button > span > div > span {
    white-space: normal;
}
@media (orientation: portrait) and (max-width: 600px) {
  .lbs-message-service {
    display:none;
  }
}

/* beta-switch */
/* @media (orientation: portrait) and (max-width: 600px) { 
  beta-switch {
    display:none;
  }
}
*/

beta-switch {
    margin: auto 0;
}

beta-switch div#beta-switch {
    display:inline-block;
    color: black;
    text-align: center;
}

beta-switch div#beta-switch > span[data-ribbon] {
    cursor: pointer;
    background-color: #5c92bd;
     color: #eee;
     padding: 6px;
     display: inline-block;
     border-radius: 3px;
     margin: 5px 0;
     position: relative;
     box-sizing: border-box;
     /*padding-right: 25px;*/
     font-weight: 500;
     text-align:center;
     text-decoration: none;
     white-space: nowrap;
}

beta-switch div#beta-switch > span[data-ribbon]:hover {
    color: #fff;
}

beta-switch md-switch {
    margin:0
}
/* This is the Bate Ribbon
beta-switch [data-ribbon]:after{
    content: attr(data-ribbon);
    position: absolute;
    color:#fff;
    top: 3px;
    right: -15px;
    font-size: 10px;
    height: 0;
    border-bottom: 14px solid #5c92bd;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    transform: rotate(45deg);
    line-height: 15px;
}
*/

/*
 * The bar:
 */
 beta-switch md-switch ._md-label {
    /*color: hsla(0, 0%, 100%, .65);*/
    color: #222;
}

beta-switch md-switch ._md-bar {
    background-color: hsla(0, 0%, 100%, .65);
    ;
    /* set not selected bar color */
}

beta-switch md-switch.md-checked ._md-bar {
    background-color: pink;
    /* set selected bar color */
}
/*
* The switch:
*/

beta-switch md-switch ._md-thumb {
    /* color: rgb(158,158,158); */
    /* not selected switch color */
    color: hsla(0, 0%, 100%, .65);
}

beta-switch md-switch.md-checked ._md-thumb {
    background-color: rgb(255, 255, 255);
    /* selected switch color */
}

beta-switch md-switch[disabled] ._md-thumb {
    background-color: rgb(255, 255, 255);
    /* disabled switch color */
}

#mainMenu > a:nth-child(2) {
    flex-basis: 100%;
}
/*split ref code and title*/
/*
.media-delimiter::after {
    content: "\A";
    white-space: pre;
}
*/


md-dialog[aria-label="Disclaimer"] md-content{
    padding: 1em;
}

md-dialog[aria-label="Disclaimer"] md-content h3{
    margin-top: .8em;
    margin-bottom: .3em;
}
prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top {
        flex-direction: column-reverse;
}
.primo-scrollbar::-webkit-scrollbar-thumb, md-dialog-content::-webkit-scrollbar-thumb {
    background-color: #BAC4D1;
}

.primo-scrollbar::-webkit-scrollbar-thumb:hover, md-dialog-content::-webkit-scrollbar-thumb:hover {
    background-color: #A7B0BC;
}

.primo-scrollbar::-webkit-scrollbar-track, md-dialog-content::-webkit-scrollbar-track {
    background-color: #53738c;
}
/* wrap overflow text in facets */



prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_myinstitution .md-chip-content,
prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_otherinstitution .md-chip-content {
    overflow: visible;
    margin-bottom: 0.5em; 
    width: 100%;
  }
  prm-facet-exact .md-chips .md-chip.facet-element-marker-library_myinstitution,
  prm-facet-exact .md-chips .md-chip.facet-element-marker-library_otherinstitution {
    line-height: normal;
    height: auto; 
  }
  prm-facet-exact .md-chips .md-chip.facet-element-marker-library_myinstitution .md-chip-content strong,
  prm-facet-exact .md-chips .md-chip.facet-element-marker-library_otherinstitution .md-chip-content strong {
    white-space: normal; 
    overflow: visible; 
  }
  prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_myinstitution .md-chip-remove-container,
  prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_otherinstitution .md-chip-remove-container {
    height: 28px; 
    align-items: center;
    align-self: center;
    top: -5px;
  }
  prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_myinstitution strong+span,
  prm-facet-exact .section-content .md-chips .md-chip.facet-element-marker-library_otherinstitution strong+span {
    margin-left: auto;
    align-self: center;
  }
  prm-facet .sidebar-inner-wrapper {
    margin-right: 0;
  }
/* Facets on the Left Side */
/* Is nu een configuration optie in de Backend :
   https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/New_Primo_User_Interface/New_UI_Customization_-_Best_Practices#Moving_the_Facets_to_the_Left_Side
*/
/*
prm-search > md-content.padded-container  {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}
.flex-gt-md-25.sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
.main{
    webkit-flex: 0 0 65%;
    flex: 0 0 65%;
}
.layout-row>.flex-gt-lg-10{
    webkit-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: none;
}
*/

prm-full-view prm-search-result-availability-line {
  display:none;
}
/* Hide de Browse in the top menu*/

prm-main-menu a[aria-label="Repérer"].md-button.flex-button,
prm-main-menu a[aria-label="Browse"].md-button.flex-button {
    display:none;
}

@media (max-width: 600px) {
    prm-search-bookmark-filter > a[href*=favorites] {
      display:none;
    }
}
/* Hide collection_path in full view */
prm-record-collection-paths{
    display: none !important;
}

#advanced-search div.date-range-inputs  md-input-container md-select {
  display:none;
}

prm-search-bar .advanced-search-wrapper .date-range-inputs md-input-container {
  width:auto;
}

#personalDetails > md-card-content > div > md-checkbox {
    display: none;
}

prm-logo, prm-logo-after {
    display: flex;
}

prm-logo prm-logo-after, div#home-buttons-holder {
    height: 100%
}

prm-logo-after a.md-primoExplore-theme.md-button.md-icon-button {
  min-width: 40px;
}
prm-logo .product-logo {
    display: inline-block;
}

prm-logo .product-logo a:hover{
    box-shadow: none;
    background-color: transparent;
}
@media screen and (min-height: 700px) {
    body > div._md-select-menu-container > md-select-menu,
    body > div._md-select-menu-container > md-select-menu > md-content{
          max-height: 500px;
    }
}
    
prm-linked-user-selector .toolbar-select-input ._md-select-value > span._md-select-icon {
    color :#45aab4; 
}



prm-linked-user-selector md-input-container ._md-select-value:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 0;
}
prm-logo-after a#new-search-button{
    box-shadow: 1px 0 0 0 rgba(0,0,0,.1), -1px 0 0 0 rgba(0,0,0,.1);
    margin-right: 1em;
}

prm-news md-list md-list-item._md-no-proxy{
    padding: 0 16px 10px 16px;
}
md-template prm-add-alert-toast md-toast *[aria-label="Set Alert For this saved search"],
prm-saved-queries-list  md-list > md-list-item div.result-item-actions button.md-icon-button:nth-child(1),
prm-saved-queries-list  md-list > md-list-item div.result-item-actions button.md-icon-button:nth-child(2){
    display: none;
}


/*  Remove dismis citingAlert */
prm-alert-bar[\[alert-object\]*='citingAlert'] button.md-button {
 display:none;
}

/* Remove old Feedback link (moet wel nog blijven staan in de 'oude' UI */
prm-main-menu div#mainMenu a[aria-label='Feedback'], 
prm-main-menu div#mainMenu a[aria-label='Réactions'] 
{
 display:none;
}

.full-view-inner-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

#citationTrails{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

/*view online*/
#getit_link1_0{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

/*Where to find it?*/
#links{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}


#getit_link1_1{
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

/*Send to*/
#action_list{
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}


#details{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

#tags{
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

/*?????*/
#getit_link2{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}


#services-index {
  display:flex;
  flex-direction: column;
}

/*send to*/
button[aria-label='Export'],
button[aria-label='Send to'],
button[aria-label='Envoyer à'],
button[orderIndex='1']{
  order: 4;
}

/*view online*/
button[aria-label='Bekijk online'],
button[aria-label='View Online'],
button[aria-label='Consulter'],
button[orderIndex='2']{
  order: 2;
}

/*details*/
button[aria-label='Details'],
button[aria-label='Détails'],
button[orderIndex='3']{
  order: 5;
}

/*links*/
button[aria-label='Links'],
button[aria-label='Liens'],
button[orderIndex='4']{
  order: 3;
}

/*citations*/
button[aria-label='Citaties'],
button[aria-label='Citations'],
button[orderIndex='5']{
  order: 1;
}

/*tags*/
button[aria-label='Tags'],
button[orderIndex='6']{
  order: 6;
}


/*
This makes more sense than the counter example but it definitely not the 100% correct way.
Ideally you want to choose your break points around your content and design, not around devices. 
This year’s devices are different than last year’s and different than next year’s. 
Resize your window — when the layout breaks or stops makings sense you have a break point. 
Devices should have no voice in this decision.
*/

@media (max-width: 920px) {
    prm-search-bookmark-filter > a[href*=favorites] {
      display:none;
    }
    beta-switch {
        display:none;
    }
}

@media (min-width: 920px) and  (max-width: 1168px) {
    prm-logo {
      margin-right: 200px;
      z-index: unset
    }
}


@media (max-width: 920px) {
    prm-logo {
      margin-right: 50px;
      z-index: unset
    }
}
/* 
From: Primo [mailto:primo-bounces@exlibrisusers.org] On Behalf Of Gabriele H�fler
Sent: Tuesday, February 28, 2017 15:19
To: Ex Libris user community discussion list for Primo <primo@exlibrisusers.org>
Subject: Re: [Primo] New Primo UI - login and logout behaviour
*/

prm-user-area md-fab-toolbar.md-left md-fab-actions {
  flex-direction: row !important;
}

prm-user-area div.md-fab-action-item:nth-child(1) {
  margin-left: auto !important;
}



