/* wrap overflow text in facets */
prm-facet-exact .section-content .md-chips .md-chip .md-chip-content {
    overflow: visible;
    margin-bottom: 0.5em; 
    width: 100%;
  }
  prm-facet-exact .md-chips .md-chip {
    line-height: normal;
    height: auto; 
  }
  prm-facet-exact .md-chips .md-chip .md-chip-content strong {
    white-space: normal; 
    overflow: visible; 
  }
  prm-facet-exact .section-content .md-chips .md-chip .md-chip-remove-container {
    height: 28px; 
    align-items: center;
    align-self: center;
    top: -5px;
  }
  prm-facet-exact .section-content .md-chips .md-chip strong+span {
    margin-left: auto;
    align-self: center;
  }
  prm-facet .sidebar-inner-wrapper {
    margin-right: 0;
  }