/* Facets on the Left Side */
/* Is nu een configuration optie in de Backend :
   https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/New_Primo_User_Interface/New_UI_Customization_-_Best_Practices#Moving_the_Facets_to_the_Left_Side
*/
/*
prm-search > md-content.padded-container  {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}
.flex-gt-md-25.sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
.main{
    webkit-flex: 0 0 65%;
    flex: 0 0 65%;
}
.layout-row>.flex-gt-lg-10{
    webkit-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: none;
}
*/