prm-collection-gallery-header-after {
    position: relative;
    display: block;
}

prm-collection-gallery-header-after .md-button {
    position: absolute;
    background: #73e9ff;
    bottom: 2em;
    right: 17%;
    color: #456075;
    box-shadow: inset 0 -1px 0 0 rgba(21,58,86,.5);
    z-index: 1000;
}
prm-collection-gallery-header-after .md-button:hover:not([disabled]) {
    background-color: #456075;
    color: #fff;
    box-shadow: none;
}

prm-collection-gallery-header .collection-info{
  margin-bottom: 4rem;
}

.is-gallery-view prm-gallery-item .collection-element img {
  width: auto;
  max-width: 100%;
}

.is-grid-view prm-gallery-item .collection-element img {
  max-width: 100%;
  width: auto;
}

/* Responsive styles */

@media screen and (max-width: 599px) {
    prm-collection-gallery-header .collection-info {
        font-size: 1rem;
    }
}
