@media only screen and (min-width: 1280px) {
    prm-main-menu, prm-topbar prm-logo{
      z-index:101;
    }

    prm-search-bar .search-wrapper {
      z-index:101;
    }

    prm-search-bar .advanced-search-backdrop.visible{
      z-index: 100;
    }

    #banner {
        z-index: 101;
    }

    prm-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-search-bar .search-switch-buttons .md-button.switch-to-advanced{
        z-index:102;
    }

  prm-explore-main .header{
    position: relative;
  }
  prm-explore-main .header::before {
      z-index: 100;
      background: transparent url("../img/watermark_gray.png") no-repeat;
      background-size: auto 115%;
      content: '';
      background-position: 0 -5px;
      height: 100%;
      max-height: 280px;
      width: 30%;
      position: absolute;
      left: -5px;
      opacity: 0.4;
      mix-blend-mode: overlay;
  }
}

/* check if compatible */
@supports not (mix-blend-mode: overlay) {
  prm-explore-main .header::before {
      background: transparent url("../img/watermark.png") no-repeat;
      background-size: auto 115%;
      background-position: 0 -5px;
  }
}
/* check if IE */
@media screen\0, @media screen\9 {
  prm-explore-main .header::before {
      background: transparent url("../img/watermark.png") no-repeat;
      background-size: auto 115%;
      background-position: 0 -5px;
  }
}
