<md-checkbox tabindex="-1" disabled="disabled" class="has-small-text zero-margin ng-pristine ng-untouched ng-valid md-primoExplore-theme ng-not-empty md-checked"
  role="checkbox" aria-checked="true" aria-disabled="true" aria-invalid="false" type="checkbox" ng-model="$ctrl.alwaysSigninCheckBox"
  ng-change="alwaysSigninChecked()" ng-disabled="$ctrl.formMode == 'View'">
  <div class="layout-column" layout="column">
    <span class="item-content" translate="lbs.nui.mypref.automatic_login.alwaysSigninOption"></span>
  </div>
</md-checkbox>