<md-dialog aria-label="Disclaimer">
		<md-dialog-content id="disclaimerDialog">
			<md-toolbar md-autofocus >
				<div class="md-toolbar-tools">
					<h2>LIMO COOKIE POLICY</h2>
					<span flex></span>
					<md-button  class="md-icon-button" ng-click="closeDialog()">
						<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
					Limo uses cookies that facilitate the use of the search engine.
	
				<h3>WHAT IS A COOKIE?</h3>
				Cookies are small text files that record your preferences during your browser activities and are saved on your own computer or device.
	
				<h3>USE OF COOKIES IN LIMO</h3>
				<p>
						Cookies can on the one hand be <u>functional</u>. These cookies record certain of the choices and settings made on your first visit to allow you to navigate more efficiently, quickly and simply on subsequent visits. These cookies record for example preference settings.
				</p>
				<p>
						For users of the KU Leuven Association, login names can be recorded when logging in via the Central Login page.
				</p>
				<p>
						On the other hand, cookies can also be used to record <u>visit and click activity</u>. This can be used to make anonimised reports of the user of Limo.
				</p>
				<!--                
					KU Leuven gebruikt onder andere volgende cookies op de centraal beheerde websites:
					<ul>
						<li>
						NSC_* : Deze cookies worden gebruikt door de netscaler om de loadbalancing te sturen
						</li>
					<li>_ga* en _utm*: Dit zijn Google Analytics cookies, gebruikt voor user-tracking (meer info over Google Analytics)
					 </li>
					<li>	_pk_id* : piwik cookies die gebruikt worden door de user-tracking omgeving van KU Leuven
					 </li>
					<li>	JSESSIONID: cookies die gebruikt worden in toledo en kuloket
					 </li>
					<li>	PHPSESSID: cookies die gebruikt voor de lamp omgeving (php)
					 </li>
					<li>	_shibsession* en _saml*: cookies die nodig zijn voor de centrale login van KU Leuven
					</li>
					</ul>
				-->
				<h3>CHANGING BROWSER SETTINGS</h3>
				<p>
						You can enable or delete cookies on your computer through your browser settings. 
						The way in which this works varies from browser to browser. Consult your browser’s help function if necessary. You must always make this adjustment per browser and per computer!
				</p>
			

				<ul>
					<li>
						<a href="http://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies#ie=ie-10-win-7" target="_blank">Cookie settings in Internet Explorer</a>
					</li>
					<li>
						<a href="https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" target="_blank">Cookie settings in Chrome</a>
					</li>
					<li>
						<a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies"
							target="_blank">Cookie settings in Firefox</a>
					</li>
					<li>
						<a href="https://support.apple.com/kb/PH19214?locale=nl_BE" target="_blank">Cookie settings in Safari</a>
					</li>
				</ul>
				<p>
						Not accepting, disabling or deleting cookies may result in certain functionalities of the Limo website being no longer accessible or operating normally. 
						This may make your website experience unsatisfactory.
				</p>
				<h3>SOCIAL MEDIA AND THE CORRESPONDING PLUG-INS</h3>
				<p>
						Many social media (such as, Facebook, Linkedin, Twitter, Google+, Tumblr, etc.) 
						receive a lot of information on your browsing habits through social plug-ins on their websites (for example by way of the Like or Share buttons).
				</p>
				<p>
						These buttons may also be found on the web pages of the Limo results list.
				</p>
				<p>
						If you want to protect yourself from these, then you are advised (by, among other agencies, the Belgian Commission for the Protection of Privacy) to take one of the steps below.
				</p>
	
				<ol>
					<li>Install a browser that blocks add-on tracking. Examples of such browser add-ons are:
						<ul>
							<li>Privacy Badger (
								<a href="http://www.eff.org/privacybadger" target="_blank">http://www.eff.org/privacybadger</a>)</li>
							<li>Ghostery (
								<a href="https://www.ghostery.com/" target="_blank">https://www.ghostery.com</a>)</li>
							<li>Disconnect (
								<a href="https://disconnect.me/disconnect" target="_blank">https://disconnect.me/disconnect</a>)</li>
						</ul>
					</li>
	
					<li>Make use of your browser’s incognito or private navigation mode. 
						Recent versions of the most popular browsers provide such a private navigation mode:
						<ul>
							<li><a href="https://support.microsoft.com/en-us/products/windows?os=windows-10">Internet Explorer</a></li>
							<li><a href="https://support.mozilla.org/nl/kb/privenavigatie-firefox-gebruiken-zonder-geschiedenis">Firefox</a></li>
							<li><a href="https://support.google.com/chrome/answer/95464?hl=nl">Chrome</a></li>
							<li><a href="https://support.apple.com/kb/PH19216?locale=nl_NL">Safari</a></li>
						</ul>
					</li>
				</ol>
	
	
				<p>
						This function forces your browser to erase all tracks of your browsing activity (cookies, history, etc.) after you have closed the window and therefore protects you from being tracked by third parties (please note: this function does not make you anonymous on the web). 
						There are also special browsers that protect privacy, such as Privacy Browser  
						(<a href="http://www.epicbrowser.com/" target="_blank">www.epicbrowser.com</a>).</p>
	
				<p>
						Social media and other websites use information about the browsing activity of its users to provide them with targeted advertising. If you no longer want to be tracked by targeted advertising, 
						you can choose to opt out of targeted advertisements via the opt-out website of the European Interactive Digital Advertising Alliance 
					 (<a href="http://www.youronlinechoices.eu/" target="_blank">www.youronlinechoices.eu</a>).
				</p>
					<p>
							Opting out of targeted advertisements does not mean that information is no longer collected on your browsing activities. If you also want to protect yourself from the collection of this information, 
							you are advised to also use the incognito mode of your browser or one of the above-mentioned browser add-ons..</p>
	
				<h3>WANT MORE INFORMATION?</h3>
	
				<p>You will find more information on the following websites: 
					<a href="http://www.allaboutcookies.org/" target="_blank">www.allaboutcookies.org</a> and 
					<a href="http://www.youronlinechoices.com/be-nl/" target="_blank">www.youronlinechoices.com/be-nl</a>
				</p>
				<p>
		LIBIS reserves the right to amend this policy at any time. You will always find the most recent version of the Cookie Statement on this page.
			</p>

				<md-dialog-actions>
					<div layout="row" class="demo-dialog-button">
						<md-button class="md-primary" ng-click="closeDialog()">
							Close
						</md-button>
					</div>
				</md-dialog-actions>
				
			</md-content>
		</md-dialog-content>
	</md-dialog>