<md-dialog aria-label="Disclaimer">
    <md-dialog-content id="disclaimerDialog">
        <md-toolbar md-autofocus >
            <div class="md-toolbar-tools">
                <h2>Cookiebeleid Limo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            Limo gebruikt cookies die het gebruik van de zoekmachine vergemakkelijken.

            <h3>WAT IS EEN COOKIE?</h3>
            Cookies zijn kleine tekstbestanden die je voorkeuren tijdens het surfen onthouden en opslaan op je eigen computer of toestel.

            <h3>COOKIEGEBRUIK IN LIMO</h3>
            <p>
                Enerzijds zijn er functionele cookies. Deze cookies onthouden bepaalde keuzes en instellingen die je een eerste keer hebt
                gekozen om bij volgende bezoeken efficiënter, sneller en eenvoudiger te kunnen zoeken in Limo. Deze cookies
                onthouden voorkeursinstellingen,…
            </p>
            <p>
                Voor gebruikers van de de KU Leuven Associatie kunnen loginnamen onthouden worden bij het aanmelden via de Centrale login.
            </p>
            <p>
                Anderzijds worden cookies ook gebruikt om bezoek- en klikgedrag te onthouden. Hiermee worden geanonimiseerde rapporten gemaakt
                van het gebruik van Limo.
            </p>
            <!--                
                KU Leuven gebruikt onder andere volgende cookies op de centraal beheerde websites:
                <ul>
                    <li>
                    NSC_* : Deze cookies worden gebruikt door de netscaler om de loadbalancing te sturen
                    </li>
                <li>_ga* en _utm*: Dit zijn Google Analytics cookies, gebruikt voor user-tracking (meer info over Google Analytics)
                 </li>
                <li>	_pk_id* : piwik cookies die gebruikt worden door de user-tracking omgeving van KU Leuven
                 </li>
                <li>	JSESSIONID: cookies die gebruikt worden in toledo en kuloket
                 </li>
                <li>	PHPSESSID: cookies die gebruikt voor de lamp omgeving (php)
                 </li>
                <li>	_shibsession* en _saml*: cookies die nodig zijn voor de centrale login van KU Leuven
                </li>
                </ul>
            -->
            <h3>WIJZIGINGEN VAN BROWSERINSTELLINGEN</h3>
            <p>
                Cookies kan je via de browserinstellingen op je computer weigeren of verwijderen. De wijze hoe dit kan gebeuren verschilt
                van browser tot browser. Raadpleeg indien nodig de helpfunctie van je browser. Deze instellingen moet je
                steeds per browser en per computer apart instellen!
            </p>
            <ul>
                <li>
                    <a href="http://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies#ie=ie-10-win-7" target="_blank">Cookie-instellingen in Internet Explorer</a>
                </li>
                <li>
                    <a href="https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" target="_blank">Cookie-instellingen in Chrome</a>
                </li>
                <li>
                    <a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies"
                        target="_blank">Cookie-instellingen in Firefox</a>
                </li>
                <li>
                    <a href="https://support.apple.com/kb/PH19214?locale=nl_BE" target="_blank">Cookie-instellingen in Safari</a>
                </li>
            </ul>
            <p>
                Het niet-aanvaarden of verwijderen of uitzetten van cookies kan tot gevolg hebben dat bepaalde functionaliteiten van Limo
                niet meer toegankelijk zijn of slecht functioneren. Daardoor kan de beleving van de site tegenvallen.
            </p>
            <h3>SOCIALE MEDIA EN DE BIJHORENDE PLUG-INS</h3>
            <p>
                Facebook ontvangt heel wat informatie over je surfgedrag via deze social plug-in op hun websites (via bijvoorbeeld de knoppen
                “Vind ik leuk” of “Delen”).
            </p>
            <p>
                Deze knoppen kunnen zich ook bevinden op de resultatenpagina van Limo.
            </p>
            <p>
                Indien je je hiertegen wilt beschermen, dan wordt er (door onder meer het Centrum voor de Bescherming van de Persoonlijke
                Levenssfeer) aangeraden om één van de onderstaande maatregelen te nemen.
            </p>

            <ol>
                <li>Installeer een browser add-on die tracking blokkeert. Voorbeelden van dergelijke browser add-ons zijn:
                    <ul>
                        <li>Privacy Badger (
                            <a href="http://www.eff.org/privacybadger" target="_blank">http://www.eff.org/privacybadger</a>)</li>
                        <li>Ghostery (
                            <a href="https://www.ghostery.com/" target="_blank">https://www.ghostery.com</a>)</li>
                        <li>Disconnect (
                            <a href="https://disconnect.me/disconnect" target="_blank">https://disconnect.me/disconnect</a>)</li>
                    </ul>
                </li>

                <li>Maak gebruik van de incognito of “private nagivation”-modus van uw browser. Recente versies van de meest
                    courante browsers bieden zo’n privé-modus als functionaliteit aan:
                    <ul>
                        <li> Internet Explorer </li>
                        <li>Firefox</li>
                        <li>Chrome</li>
                        <li> Safari</li>
                    </ul>
                </li>
            </ol>


            <p>Deze functie dwingt de browser om sporen van je surfgedrag (cookies, historiek, enz.) te wissen nadat het venster
                wordt gesloten en beschermt je aldus om door derden gevolgd te worden (opgelet: deze functie maakt jou niet
                anoniem op het web). Er bestaan ook speciale privacybeschermende browsers, zoals Epic Privacy Browser (
                <a href="http://www.epicbrowser.com/" target="_blank">www.epicbrowser.com</a>).</p>

            <p>Sociale media en andere websites gebruiken informatie over het surfgedrag van zijn gebruikers om hen gerichte
                reclame aan te bieden. Wil je niet meer gevolgd worden voor gerichte reclame dan kan je je
                <strong>uitschrijven voor gerichte advertenties</strong> via de opt-out website van de European Interactive Digital
                Advertising Alliance (
                <a href="http://www.youronlinechoices.eu/" target="_blank">www.youronlinechoices.eu</a>).
            </p>
                <p>
                <br> Uitschrijven voor gerichte advertenties betekent niet dat er geen informatie meer verzameld wordt over je
                surfgedrag. Indien je je ook wil beschermen tegen de inzameling van deze informatie wordt er geadviseerd
                om daarnaast ook gebruik te maken van de incognito-modus van uw browser of één van de bovenvermelde browser
                add-ons te gebruiken..</p>

            <h3>MEER WETEN?</h3>

            <p>Meer info vind je onder andere op volgende websites:
                <a href="http://www.allaboutcookies.org/" target="_blank">www.allaboutcookies.org</a>&nbsp;en
                <a href="http://www.youronlinechoices.com/be-nl/" target="_blank">www.youronlinechoices.com/be-nl</a>
            </p>.

            <md-dialog-actions>
                <div layout="row" class="demo-dialog-button">
                    <md-button class="md-primary" ng-click="closeDialog()">
                        Sluiten
                    </md-button>
                </div>
            </md-dialog-actions>
        </md-content>
    </md-dialog-content>
</md-dialog>