<div (click)="$ctrl.showFeedbackForm($event)" class="view-switcher layout-align-end-center layout-row flex-noshrink" style="height: 100%"
  layout-align="end center" layout="row" flex="noshrink" id="menu_feedback">
  <md-button class="md-icon-button md-ink-ripple darker-bg button-over-dark">
      <md-icon class="md-primoExplore-theme" aria-hidden="true">
      <svg width="100%" height="100%" viewBox="0 0 24 24" y="1176" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"
        focusable="false">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z" />
      </svg>
    </md-icon>
  </md-button>
  <md-tooltip md-delay="400" md-direction="left" class="md-primoExplore-theme _md-show" role="tooltip" id="menu_feedback_tooltip">
    <span>"Give feedback"</span>
  </md-tooltip>
</div>