<a
 tabindex="0" role="listitem" tabindex="0" ng-href=""
  class="zero-margin flex-button multi-line-button button-over-dark"
  layout="column" layout-align="center center" (click)="$ctrl.showFeedbackForm($event)"
  aria-label="mainmenu.label.feedback">

<span class="item-content" translate="mainmenu.label.feedback"></span>
<md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim">
<span class="item-description popover animate-popover"
   translate="nui.mainmenu.description.feedback"></span>
</md-tooltip>

