
<md-dialog aria-label=Aanmelden">
    <md-dialog-content id="Aanmelden">

        <md-toolbar md-autofocus >
            <div class="md-toolbar-tools">
                <h2>Aanmelden</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content style="padding:1em;">

            <div class="flexbox-parent">
                <div layout="row" layout-align="left center">
                    <div class="md-title">
                        <md-button md-autofocus class="md-raised md-primary"
                        ng-click="loginDialog()"
                        id="mimic_signin" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); margin-right: 0;">Meld aan</md-button>
 om volledige resultaten te vinden en om documenten aan te vragen.

</div>

                </div>

                <div layout="row" layout-align="left center" style="padding:14px;">

                        <md-checkbox ng-change="changePromoteOption()" ng-model="primoPromoteLogin" ng-true-value="'alwaysSignin'" aria-label="Always Sign In automaticaly?">
                                Breng me volgende keer onmiddellijk naar de login pagina en toon deze boodschap niet meer.<br/>
                                (Ik zal automatisch aangemeld zijn als ik reed ben ingelogd via de KU Leuven Central Login.)
                        </md-checkbox>

                </div>
                <div>
                  <md-button  flex class="md-primary" ng-click="closeDialog()"    style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); margin-right: 0;">
                    Gebruik Limo als gast
                  </md-button>
                    - Beperkte toegang voor niet-KU Leuvengebruikers
                </div>

                <md-dialog-actions>
                    <div layout="row" class="demo-dialog-button">
                        <md-button  class="md-primary" ng-click="closeDialog()">
                            Sluiten
                        </md-button>
                    </div>
                </md-dialog-actions>



        </md-content>
    </md-dialog-content>
</md-dialog>
