
<md-dialog aria-label=Aanmelden">
    <md-dialog-content id="Aanmelden">

        <md-toolbar md-autofocus >
            <div class="md-toolbar-tools">
                <h2>Sign in</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content style="padding:1em;">

            <div class="flexbox-parent">
                <div layout="row" layout-align="left center">
                    <div class="md-title">
                        <md-button md-autofocus class="md-raised md-primary"
                        ng-click="loginDialog()"
                        id="mimic_signin" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); margin-right: 0;">Sign In</md-button>
                    to get complete results and to request items </div>
                </div>

                <div layout="row" layout-align="left center" style="padding:14px;">
                    <!--
                    <md-radio-group ng-model="primoPromoteLogin" ng-change="changePromoteOption()">
                        <md-radio-button value="alwaysSignin" aria-label="Always Sign In automaticaly">
                            Next time, bring me to the Sign In page and do not show this message again
                            (I will be automatically signed in when I am already logged in via the KU Leuven Central Login.) 
                        </md-radio-button>
                    </md-radio-group>
                -->

                    <md-checkbox ng-change="changePromoteOption()" ng-model="primoPromoteLogin" ng-true-value="'alwaysSignin'" aria-label="Always Sign In automaticaly?">
                        Next time, bring me to the Sign In page and do not show this message again.<br/>
                        (I will be automatically signed in when I am already logged in via the KU Leuven Central Login.) 
                    </md-checkbox>



                      </div>
                          <div>
                    <md-button   flex class="md-primary" ng-click="closeDialog()"    style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); margin-right: 0;">
                      Continue as guest
                    </md-button>
                     – Limited access for non-KU Leuven users
                </div>

                <md-dialog-actions>
                    <div layout="row" class="demo-dialog-button">
                        <md-button class="md-primary" ng-click="closeDialog()">
                            Close
                        </md-button>
                    </div>
                </md-dialog-actions>
        </md-content>
    </md-dialog-content>
</md-dialog>
