<md-dialog aria-label=Zoektips">
    <md-dialog-content id="searchtips">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Trucs & astuces</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-list class="md-dense" flex>
                <md-list-item>
                    <div class="md-list-item-text">
                        utilisez des guillemets pour les phrases/expressions exactes: "réchauffement global"
                    </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            utilisez un astérisque pour les recherches tronquées: vin* donnera vinage, vinaigre, vinasse, vineux etc.
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            utilisez ? comme caractère de remplacement: fe?me donnera femme et ferme
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            utilisez NOT (en capitales) pour exclure un mot: celtique NOT irlandais
                        </div>
                    </md-list-item>
                <md-list-item>
                    <div class="md-list-item-text">
                        utilisez des parenthèses pour grouper les termes: Shakespeare (tragédie OR sonnet). OR est écrit en capitales
                    </div>
                </md-list-item>
            </md-list>
            <!--
            <md-list class="md-dense" flex>
                <md-list-item>
                    <div class="demo-dialog-content">
                Pour les utilisateurs d'Internet Explorer:<br/>
Il est recommandé d'utiliser la version 9 ou ultérieure.<br/>
Si vous avez une version plus ancienne, il est conseillé de mettre à jour votre navigateur.<br/>
                        </div>
                    </md-list-item>
            </md-list>
-->
            <md-dialog-actions>
                <div layout="row" class="demo-dialog-button">
                    <md-button md-autofocus flex class="md-primary" ng-click="closeDialog()">
                        Sluiten
                    </md-button>
                </div>
            </md-dialog-actions>
        </md-content>
    </md-dialog-content>
</md-dialog>

