  <md-button tabindex="0" role="listitem" tabindex="0" ng-href=""
             class="zero-margin button-link md-button md-primoExplore-theme md-ink-ripple"
             layout="column" layout-align="center center" (click)="$ctrl.showReportAProblemForm($event)"
             aria-label="lbs.nui.details.report_a_problem">

      <span class="item-content" translate="lbs.nui.details.report_a_problem"></span>
      <md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim">
        <span class="item-description popover animate-popover"
              translate="lbs.nui.details.description.report_a_problem"></span>
      </md-tooltip>
  </md-button>
