
<!--
<div ng-if="$ctrl.doi" class="altmetric-embed" data-badge-type="medium-donut" data-badge-details="right" data-doi="{{$ctrl.doi}}"></div>
-->
<!-- Brief results altmetrics -->
<div  id="full_altmetrics_{{$ctrl.recordid}}">
    <div ng-if="$ctrl.doi" class="altmetric-embed" style="padding-top:0.5em"
        data-badge-type='donut' 
        data-badge-details='right'

        data-link-target="_blank" 
        data-doi="{{$ctrl.doi}}"


          data-condensed='true' 


        aria-label="Social Popularity Statistics (AltMetrics)">
    </div>
</div>
